@charset "UTF-8";

body {
    background-color: rgba(166, 209, 195, 0.596);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    background-color: white;
    display: block;
    width: 300px;
    height: 450px;
    position: absolute;
    margin: auto;
    margin-left: 39%;
    margin-top: 5%;
    border-radius: 20px;
}

.pa {
    color: rgb(170, 168, 168);
    font-size: 15px;
    font-weight: normal;
    
}

img {
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 10%;
    
}